
{{- $personal := false -}}{{/* true if this is a personal machine */}}

{{- $personal = promptBool "personal" -}}

format: yaml
sourceDir: {{ .chezmoi.homeDir }}/Code/repos/coolguy1771/dotfiles

data:
  personal: "{{ $personal }}"
