[user]
  name = Tyler Witlin
  {{- if (eq .personal "true") }}
  {{- if (contains "termux" .chezmoi.homeDir) }}
  email = 45468117+coolguy1771@users.noreply.github.com
  signingKey = C5B66011E51106110F13642B5BA251F7051E8C14
  {{- end }}
  {{- end }}
[gpg]
  program = gpg
[format]
  signOff = true
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
  gpgsign = true
[merge]
  ff = only
[pull]
  rebase = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
