{{- if eq .chezmoi.os "darwin" }}
tap "1password/tap"
tap "aquaproj/aqua"
tap "bufbuild/buf"
tap "cloudflare/cloudflare"
tap "cockroachdb/tap"
tap "coder/coder"
tap "cooklang/tap"
tap "deepsourcelabs/cli"
tap "dty1er/tap"
tap "fairwindsops/tap"
tap "fluxcd/tap"
tap "go-task/tap"
tap "gofireflyio/aiac"
tap "goreleaser/tap"
tap "hashicorp/tap"
tap "hidetatz/tap"
tap "homebrew/bundle"
tap "homebrew/services"
tap "homeport/tap"
tap "jesseduffield/lazygit"
tap "minio/stable"
tap "nextdns/tap"
tap "norwoodj/tap"
tap "oven-sh/bun"
tap "pulumi/tap"
tap "rs/tap"
tap "siderolabs/tap"
tap "teamookla/speedtest"
tap "ubuntu/microk8s"
tap "vectordotdev/brew"
tap "weaveworks/tap"
tap "yudai/gotty"
brew "openssl@3"
brew "aerleon"
brew "age"
brew "cryptography"
brew "libssh"
brew "tree"
brew "ansible"
brew "ansible-lint"
brew "jq"
brew "ansiweather"
brew "little-cms2"
brew "jpeg-xl"
brew "aom"
brew "aqua"
brew "argocd"
brew "asciidoctor"
brew "asciinema"
brew "asciiquarium"
brew "awscli"
brew "azure-cli"
brew "b2-tools"
brew "gettext"
brew "bash"
brew "libgit2"
brew "bat"
brew "beads"
brew "binutils"
brew "bison"
brew "boost"
brew "bottom"
brew "broot"
brew "coreutils"
brew "unbound"
brew "emacs"
brew "cask"
brew "cfssl"
brew "chezmoi"
brew "choose-rust"
brew "cilium-cli"
brew "clang-format"
brew "cloc"
brew "node"
brew "cloudflare-wrangler"
brew "cloudflared"
brew "clusterctl"
brew "cmake"
brew "cmake-docs"
brew "cmctl"
brew "ripgrep"
brew "codex"
brew "lima"
brew "colima"
brew "curl"
brew "php"
brew "composer"
brew "cosign"
brew "cowsay"
brew "cpanminus"
brew "croc"
brew "cue"
brew "d2"
brew "direnv"
brew "dive"
brew "docker"
brew "docker-buildx"
brew "docker-credential-helper"
brew "docker-machine"
brew "dog"
brew "dotnet"
brew "duf"
brew "dufs"
brew "dust"
brew "eslint"
brew "exiftool"
brew "fblog"
brew "fd"
brew "sdl2"
brew "ffmpeg"
brew "figlet"
brew "findutils"
brew "fish"
brew "flac"
brew "flash"
brew "flex"
brew "flyctl"
brew "fortune"
brew "fping"
brew "fzf"
brew "gh"
brew "git"
brew "git-cliff"
brew "git-delta"
brew "tcl-tk"
brew "git-gui"
brew "git-lfs"
brew "gitui"
brew "glow"
brew "gnu-prolog"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "gojq"
brew "golangci-lint"
brew "goreleaser", link: false
brew "gosec"
brew "gpgme"
brew "gpg-tui"
brew "gping"
brew "netpbm"
brew "harfbuzz"
brew "librsvg"
brew "graphviz"
brew "grep"
brew "gum"
brew "hadolint"
brew "hashcat"
brew "hcxtools"
brew "helm"
brew "helmfile"
brew "httpie"
brew "hugo"
brew "hurl"
brew "hyperfine"
brew "iperf"
brew "ipmitool"
brew "jo"
brew "just"
brew "k9s"
brew "kompose"
brew "kubernetes-cli"
brew "krew"
brew "kubebuilder"
brew "kubeconform"
brew "kubie"
brew "kustomize"
brew "lazygit"
brew "leptonica"
brew "less"
brew "lf"
brew "libbluray"
brew "libdvdcss"
brew "libfido2"
brew "libiconv"
brew "librist"
brew "libsndfile"
brew "lldpd"
brew "llvm"
brew "lolcat"
brew "lsd"
brew "lychee"
brew "markdownlint-cli"
brew "mas"
brew "openjdk"
brew "minijinja-cli"
brew "mise"
brew "mosh"
brew "mtr"
brew "nano"
brew "neofetch"
brew "neovim"
brew "nextdns"
brew "ninja"
brew "nmap"
brew "node@24"
brew "openjdk@23"
brew "openssh"
brew "openstackclient"
brew "openvpn"
brew "operator-sdk"
brew "p7zip"
brew "pinentry-mac"
brew "pre-commit"
brew "prettier", link: false
brew "procs"
brew "pv"
brew "python@3.13"
brew "qemu"
brew "rclone"
brew "rename"
brew "restic"
brew "rsync"
brew "ruff"
brew "screen"
brew "sdl2_image"
brew "semgrep"
brew "shellcheck"
brew "skopeo"
brew "slides"
brew "slurm"
brew "snort"
brew "sops"
brew "srt"
brew "sshpass"
brew "starship"
brew "step"
brew "stern"
brew "swaks"
brew "talhelper"
brew "telnet"
brew "terminal-notifier"
brew "terraform"
brew "tesseract"
brew "tetra"
brew "tflint"
brew "the_silver_searcher"
brew "thefuck"
brew "tiger-vnc"
brew "tmate"
brew "tmux"
brew "topgrade"
brew "trippy"
brew "trivy"
brew "tz"
brew "unzip"
brew "upx"
brew "uv"
brew "viddy"
brew "vim"
brew "virtualenv"
brew "watch"
brew "wget"
brew "wimlib"
brew "wireguard-tools"
brew "wtfutil"
brew "xh"
brew "xq"
brew "yamllint"
brew "yarn", link: false
brew "ykman"
brew "yq"
brew "yt-dlp"
brew "yubico-piv-tool"
brew "zoxide"
brew "zx"
brew "bufbuild/buf/buf"
brew "coder/coder/coder"
brew "fairwindsops/tap/pluto"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "gofireflyio/aiac/aiac"
brew "hashicorp/tap/vault"
brew "homeport/tap/dyff"
brew "norwoodj/tap/helm-docs"
brew "oven-sh/bun/bun"
brew "pulumi/tap/esc"
brew "pulumi/tap/pulumi"
brew "pulumi/tap/tf2pulumi"
brew "rs/tap/curlie"
brew "siderolabs/tap/talosctl"
brew "siderolabs/tap/sidero-tools"
brew "teamookla/speedtest/speedtest"
brew "zsh-autosuggestions"
brew "zsh-fast-syntax-highlighting"
cask "1password-cli"
cask "artisan"
cask "claude"
cask "cyberduck"
cask "dotnet-sdk"
cask "firefox"
cask "font-arial"
cask "font-fira-code"
cask "font-go-mono-nerd-font"
cask "font-hasklug-nerd-font"
cask "font-iosevka-etoile"
cask "font-jetbrains-mono-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "font-verdana"
cask "google-chrome"
cask "goreleaser/tap/goreleaser"
cask "opcode"
cask "raycast"
cask "stravu-crystal"
cask "visual-studio-code"
cask "webex"
cask "xquartz"
mas "1Password for Safari", id: 1569813296
mas "Okta Verify", id: 490179405
mas "Pages", id: 409201541
mas "Tailscale", id: 1475387142
mas "Windows App", id: 1295203466
mas "WireGuard", id: 1451685025
vscode "1password.op-vscode"
vscode "albert.tabout"
vscode "alexcvzz.vscode-sqlite"
vscode "anthropic.claude-code"
vscode "asciidoctor.asciidoctor-vscode"
vscode "astro-build.astro-vscode"
vscode "azemoh.one-monokai"
vscode "bbenoist.nix"
vscode "benjaminbenais.copilot-theme"
vscode "bradlc.vscode-tailwindcss"
vscode "britesnow.vscode-toggle-quotes"
vscode "cab404.vscode-direnv"
vscode "charliermarsh.ruff"
vscode "coderabbit.coderabbit-vscode"
vscode "dart-code.dart-code"
vscode "dart-code.flutter"
vscode "davidanson.vscode-markdownlint"
vscode "davidbwaters.macos-modern-theme"
vscode "dbaeumer.vscode-eslint"
vscode "docker.docker"
vscode "drblury.protobuf-vsc"
vscode "eamodio.gitlens"
vscode "ecmel.vscode-html-css"
vscode "editorconfig.editorconfig"
vscode "edwinkofler.vscode-assorted-languages"
vscode "esbenp.prettier-vscode"
vscode "fcrespo82.markdown-table-formatter"
vscode "fill-labs.dependi"
vscode "foxundermoon.shell-format"
vscode "george-alisson.html-preview-vscode"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "golang.go"
vscode "gruntfuggly.todo-tree"
vscode "hangxingliu.vscode-systemd-support"
vscode "hashicorp.terraform"
vscode "icrawl.discord-vscode"
vscode "inferrinizzard.prettier-sql-vscode"
vscode "matthewpi.caddyfile-support"
vscode "miguelsolorio.fluent-icons"
vscode "mikerhyssmith.ts-barrelr"
vscode "mikestead.dotenv"
vscode "mitchdenny.ecdc"
vscode "mrmlnc.vscode-json5"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-dotnettools.csdevkit"
vscode "ms-dotnettools.csharp"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-playwright.playwright"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.remote-wsl"
vscode "ms-vscode.cmake-tools"
vscode "ms-vscode.cpptools"
vscode "ms-vscode.cpptools-extension-pack"
vscode "ms-vscode.cpptools-themes"
vscode "ms-vscode.makefile-tools"
vscode "ms-vscode.remote-explorer"
vscode "ms-vsliveshare.vsliveshare"
vscode "mtxr.sqltools"
vscode "oderwat.indent-rainbow"
vscode "openai.chatgpt"
vscode "paulvarache.vscode-taskfile"
vscode "pkief.material-icon-theme"
vscode "qwtel.sqlite-viewer"
vscode "redhat.ansible"
vscode "redhat.java"
vscode "redhat.vscode-commons"
vscode "redhat.vscode-xml"
vscode "redhat.vscode-yaml"
vscode "rust-lang.rust-analyzer"
vscode "shardulm94.trailing-spaces"
vscode "shd101wyy.markdown-preview-enhanced"
vscode "signageos.signageos-vscode-sops"
vscode "skyapps.fish-vscode"
vscode "streetsidesoftware.code-spell-checker"
vscode "svelte.svelte-vscode"
vscode "tamasfe.even-better-toml"
vscode "tomoki1207.pdf"
vscode "usernamehw.errorlens"
vscode "vadimcn.vscode-lldb"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "vscode-icons-team.vscode-icons"
vscode "weaveworks.vscode-gitops-tools"
vscode "webfreak.debug"
vscode "will-stone.in-any-case"
vscode "yzhang.markdown-all-in-one"
vscode "zhuangtongfa.material-theme"
go "github.com/rhysd/actionlint/cmd/actionlint"
go "github.com/bufbuild/buf/cmd/buf"
go "github.com/PaloAltoNetworks/cov"
go "github.com/go-delve/delve/cmd/dlv"
go "github.com/daixiang0/gci"
go "github.com/kisielk/godepgraph"
go "golang.org/x/tools/cmd/goimports"
go "golang.org/x/tools/gopls"
go "github.com/securego/gosec/v2/cmd/gosec"
go "github.com/kubernetes-sigs/ingress2gateway"
go "google.golang.org/protobuf/cmd/protoc-gen-go"
go "google.golang.org/grpc/cmd/protoc-gen-go-grpc"
go "github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway"
go "github.com/envoyproxy/protoc-gen-validate"
go "github.com/sqlc-dev/sqlc/cmd/sqlc"
go "honnef.co/go/tools/cmd/staticcheck"
go "github.com/4meepo/tagalign/cmd/tagalign"
cargo "cargo-update"
cargo "cargo-watch"
cargo "rustlings"
cargo "systemfd"
cargo "tree-sitter-cli"
cargo "wasm-pack"
{{- end }}
