{{- if eq .chezmoi.os "darwin" }}
tap "aquaproj/aqua"
tap "c6o/tools"
tap "dty1er/tap"
tap "fairwindsops/tap"
tap "fluxcd/tap"
tap "go-task/tap"
tap "goreleaser/tap"
tap "hashicorp/tap"
tap "hidetatz/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "minio/stable"
tap "norwoodj/tap"
tap "rs/tap"
tap "teamookla/speedtest"
tap "ubuntu/microk8s"
tap "yudai/gotty"
brew "age"
brew "ansible"
brew "jpeg-xl"
brew "argocd"
brew "asciinema"
brew "asciiquarium"
brew "bash"
brew "bat"
brew "binutils"
brew "bison"
brew "node"
brew "bitwarden-cli"
brew "boost"
brew "bottom"
brew "broot"
brew "gettext"
brew "python@3.9"
brew "calicoctl"
brew "coreutils"
brew "cask"
brew "chezmoi"
brew "choose-rust"
brew "cilium-cli"
brew "cloc"
brew "clusterctl"
brew "cmake"
brew "cmake-docs"
brew "corepack", link: true
brew "cowsay"
brew "croc"
brew "curl"
brew "direnv"
brew "dive"
brew "docker", link: true
brew "dog"
brew "duf"
brew "dust"
brew "exa"
brew "fd"
brew "little-cms2"
brew "leptonica"
brew "sdl2"
brew "ffmpeg"
brew "figlet"
brew "findutils"
brew "fish"
brew "flex"
brew "fortune"
brew "fping"
brew "fzf"
brew "gh"
brew "git"
brew "git-cliff"
brew "git-delta"
brew "git-gui"
brew "git-lfs"
brew "glow"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "gojq"
brew "gpg-tui"
brew "gping"
brew "grep"
brew "hadolint"
brew "helm"
brew "httpie"
brew "hugo"
brew "hyperfine"
brew "icarus-verilog"
brew "iperf"
brew "jo"
brew "jq"
brew "k9s"
brew "kubernetes-cli"
brew "krew"
brew "kubeconform"
brew "kubie"
brew "kustomize"
brew "less"
brew "libiconv"
brew "lolcat"
brew "lsd"
brew "lychee"
brew "markdownlint-cli"
brew "mas"
brew "minio-mc", link: true
brew "mosh"
brew "mtr"
brew "nano"
brew "neofetch"
brew "neovim"
brew "ninja"
brew "nmap"
brew "node@16"
brew "openjdk@11"
brew "openssh"
brew "openvpn"
brew "p7zip"
brew "pinentry-mac"
brew "ponysay"
brew "pre-commit"
brew "prettier", link: true
brew "procs"
brew "pv"
brew "qemu"
brew "rclone"
brew "rename"
brew "ripgrep"
brew "rsync"
brew "rust"
brew "screen"
brew "sdl2_image"
brew "shellcheck"
brew "slides"
brew "snort"
brew "sops"
brew "starship"
brew "stern"
brew "telnet"
brew "terminal-notifier"
brew "terraform"
brew "tflint"
brew "the_silver_searcher"
brew "thefuck"
brew "tiger-vnc"
brew "tmate"
brew "tmux"
brew "topgrade"
brew "tree"
brew "tz"
brew "unzip"
brew "upx"
brew "viddy"
brew "vim"
brew "watch"
brew "wget"
brew "wireguard-tools"
brew "wtfutil"
brew "xh"
brew "yamllint"
brew "yarn", link: false
brew "ykman"
brew "yq"
brew "yubico-piv-tool"
brew "aquaproj/aqua/aqua"
brew "fairwindsops/tap/pluto"
brew "fluxcd/tap/flux"
brew "go-task/tap/go-task"
brew "goreleaser/tap/goreleaser"
brew "hashicorp/tap/vault"
brew "jesseduffield/lazygit/lazygit"
brew "minio/stable/mc"
brew "norwoodj/tap/helm-docs"
brew "rs/tap/curlie"
brew "teamookla/speedtest/speedtest"
cask "docker"
cask "firefox"
cask "font-fira-code"
cask "font-go-mono-nerd-font"
cask "font-hasklug-nerd-font"
cask "font-iosevka-etoile"
cask "font-jetbrains-mono-nerd-font"
cask "font-redhat"
cask "font-sauce-code-pro-nerd-font"
cask "font-ubuntu-nerd-font"
cask "google-chrome"
cask "gtkwave"
cask "handbrake"
cask "raycast"
cask "slack"
cask "spotify"
cask "sublime-text"
cask "visual-studio-code"
mas "Bitwarden", id: 1352778147
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "WireGuard", id: 1451685025
{{- end }}