{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# Brewfile hash: {{ include "chezmoi/Brewfile.tmpl" | sha256sum }}
set -e
brew bundle --file="{{ .chezmoi.homeDir }}/.Brewfile"
command -v fc-cache &>/dev/null && fc-cache -fv
{{ end }}
